[color]
	ui = off
[user]
	name = Benjamin Borbe
	email = bborbe@rocketnews.de
[core]
	excludesfile = /Users/bborbe/.gitignore_global
	autocrlf = input
	editor = ~/bin/ec
[push]
	default = simple
[diff]
	tool = vimdiff
[credential]
	helper = cache
[commit]
	template = /Users/bborbe/.stCommitMsg
[difftool]
	prompt = false
[difftool "sourcetree"]
	cmd = /Applications/DiffMerge.app/Contents/MacOS/DiffMerge --nosplash \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/DiffMerge.app/Contents/MacOS/DiffMerge --merge --result=\"$MERGED\" \"$LOCAL\" \"$BASE\" \"$REMOTE\"
	trustExitCode = true
