[color]
	ui = auto
	diff = auto
	status = auto
	branch = auto
[user]
	name = Benjamin Borbe
	email = bborbe@rocketnews.de
[core]
	excludesfile = ~/.gitignore_global
	autocrlf = input
	editor = vi
	pager = more
[push]
	default = simple
[diff]
	tool = vimdiff
[credential]
	helper = cache
[commit]
	template = ~/.stCommitMsg
[difftool]
	prompt = false
[difftool "sourcetree"]
	cmd = /Applications/DiffMerge.app/Contents/MacOS/DiffMerge --nosplash \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/DiffMerge.app/Contents/MacOS/DiffMerge --merge --result=\"$MERGED\" \"$LOCAL\" \"$BASE\" \"$REMOTE\"
	trustExitCode = true
[merge]
	tool = ediff
[mergetool "ediff"]
	   cmd = emacsclient -c -a \"\"  --eval \"(ediff-merge-files-with-ancestor \\\"$LOCAL\\\" \\\"$REMOTE\\\" \\\"$BASE\\\" nil \\\"$MERGED\\\")\"
